@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400&display=swap");

$primaryColor: #ffbfe0;
$lightBlueGrey: #e1e5f865;
$blueGrey: #ccd2ec65;
$darkBlueGrey: #989cae65;
$black: #3c3c3c;
$white: #fcfcfc;
$transparent: rgba(255, 255, 255, 0);

@mixin Flex_All_Center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-family: "Noto Sans TC", sans-serif;
  text-decoration: none;
}

*button {
  cursor: pointer;
  user-select: none;
}

#root {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-color: $white;
  display: flex;
}

#Home {
  width: 88vw;
  padding: 1rem;

  .main {
    .header {
      display: flex;
      align-items: center;
      .title {
        font-size: 1.5rem;
        margin-right: 7rem;
      }
      .year-month {
        font-size: 1.5rem;
        margin: 0rem 2rem;
      }
      .week-btn {
        width: 30px;
        height: 30px;
        font-size: 1.5rem;
        background-color: $transparent;
        border: none;
        border-radius: 50%;
        transition: all 0.5s;
        &:hover {
          background-color: $blueGrey;
        }
        &:active {
          background-color: $darkBlueGrey;
        }
        svg {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}

#Nav {
  width: 230px;
  padding: 1rem;
  .main {
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: $lightBlueGrey;
    border-radius: 10px;
    .logo {
      @include Flex_All_Center();
      margin: 1rem 0rem;
      .icon {
        width: 50px;
        height: 50px;
        background-image: url("../../public/logo.jpg");
        background-size: cover;
        border-radius: 50%;
      }
    }
    .list {
      ul {
        li {
          list-style-type: none;
          a {
            @include Flex_All_Center();
            width: 100%;
            padding: 0.7rem 1rem;
            margin-bottom: 0.5rem;
            background-color: $transparent;
            color: $black;
            border: none;
            border-radius: 10px;
            font-size: 1.1rem;
            text-align: center;
            letter-spacing: 10px;
            transition: all 0.5s;
            &:hover {
              background-color: $blueGrey;
            }
            &:active {
              background-color: $darkBlueGrey;
            }
            svg {
              margin-right: 1rem;
            }
          }
        }
      }
    }
  }
}

#Register {
}

#ShopPage {
}

#Setting {
}
